@import "../../styles/common";

.header {
  position: relative;
  width: 100%;
  height: 386px;
  background-color: #7c94f2;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 1200px) {
    padding-top: 20px;
    height: 240px;
  }
}

.logo {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 1200px) {
    top: 22px;
    left: 22px;
    transform: none;
  }

  .knp-logo {
    display: block;
    width: 170px;
    @media (max-width: 1200px) {
      width: 70px;
    }
    .image {
      display: block;
      width: 100%;
    }
  }
}

.description {
  position: absolute;
  top: 230px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  @media (max-width: 1200px) {
    position: static;
    width: 100%;
    transform: none;
  }
  .txt {
    display: block;
    font-size: 22px;
    font-weight: 300;
    color: #d2dcff;
    @media (max-width: 1200px) {
      font-size: 16px;
    }
    &.small {
      font-size: 16px;
      margin-top: 6px;
      @media (max-width: 1200px) {
        font-size: 14px;
      }
    }
  }
}

.login {
  position: absolute;
  top: 0;
  right: 0px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 1200px) {
    width: 80px;
    height: 80px;
  }
  .btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 0;
    &:after {
      font-family: "Material Icons";
      content: "\ea77";
      display: block;
      color: #fff;
      font-size: 30px;
      font-weight: 300;
    }
  }
}
