@import "../../styles/common";

.category {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 500px;
  @media (max-width: 1200px) {
    min-height: 500px;
  }
}

.btn-color-board {
  position: absolute;
  top: -12px;
  right: 12px;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  border-radius: 0.35em;
  background-color: #7f859c;
  cursor: pointer;
<<<<<<< HEAD
  z-index: 100;
=======
  @media (max-width: 1200px) {
    position: static;
    display: block;
    margin: 20px auto 0;
  }
>>>>>>> eee713473aca84b1c1fe9988c9b52685f88a7e4f
}

.legend {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0 12px;
<<<<<<< HEAD
  z-index: 90;
=======
  @media (max-width: 1200px) {
    width: 90%;
    justify-content: center;
  }
>>>>>>> eee713473aca84b1c1fe9988c9b52685f88a7e4f
  .legend-item {
    display: flex;
    margin-right: 20px;
    align-items: center;
    .tag-name {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      @media (max-width: 1200px) {
        width: 14px;
        height: 14px;
      }
      &.viscose {
        background-color: $viscose;
      }
      &.cotton {
        background-color: $cotton;
      }
      &.linen {
        background-color: $linen;
      }
    }
    .tag-deskription {
      font-size: 22px;
      color: #353c5d;
      font-weight: 500;
      margin-left: 15px;
      @media (max-width: 1200px) {
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }
}

.list {
  margin: 30px 0 80px;
  overflow: hidden;
  .item {
    width: 25%;
    height: 308px;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    @media (max-width: 1200px) {
      width: 50%;
      height: 50vw;
    }
    .link {
      display: block;
      height: 100%;
    }
  }
}

.empty {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #353c5d;
  font-size: 28px;
  font-weight: 500;
  opacity: 0.5;
<<<<<<< HEAD
  z-index: 10;
=======
  @media (max-width: 1200px) {
    font-size: 20px;
  }
>>>>>>> eee713473aca84b1c1fe9988c9b52685f88a7e4f
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
