@import '../../styles/common';

$border-color: #000;

.navigator {
  flex-shrink: 0;
  width: 150px;
  height: 100%;
  border-right: solid 1px $border-color;
  .list {
    width: 100%;
    height: 100%;
    overflow: hidden scroll;
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      border-bottom: solid 1px $border-color;
      cursor: pointer;
      &[data-on='true'],
      &:hover {
        background-color: antiquewhite;
      }
    }
  }
}
